<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <!-- bootstrap -->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3"
      crossorigin="anonymous"
    />
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
      crossorigin="anonymous"
    ></script>

    <!-- CSS -->
    <link rel="stylesheet" href="/stylesheets/style.css" />

    <!-- Jquery -->
    <script
      src="https://code.jquery.com/jquery-3.7.1.min.js"
      integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo="
      crossorigin="anonymous"
    ></script>

    <title>Glow Your Skin</title>
  </head>
  <body>
    <!-- Header Section Start -->
    <header id="header">
      <div class="container">
        <h1>Glow Your Skin</h1>
        <!-- Uncomment below if you prefer to use an image logo -->
        <!-- <a href="index.html" class="mr-auto"><img src="assets/img/logo.png" alt="" class="img-fluid"></a> -->
        <h2>
          <span>Welcome to Glow Your Skin!!</span>
          <p>
            Temukan keindahan alami melalui website kami yang dirancang untuk
            membantu Anda dalam merawat kulit menjadi lebih sehat dan bersinar!
          </p>
        </h2>

        <nav id="navbar" class="navbar">
          <ul>
            <li><a class="nav-link active" href="#header">Home</a></li>
            <li><a class="nav-link" href="#penjelajahan">Penjelajahan</a></li>
            <li><a class="nav-link" href="#pencarian">Pencarian</a></li>
            <li><a class="nav-link" href="#rekomendasi">Rekomendasi</a></li>
          </ul>
          <i class="bi bi-list mobile-nav-toggle"></i>
        </nav>
      </div>
    </header>

    <!-- ---------------------------------- -->
    <!--        Penjelajahan Start          -->
    <!-- ---------------------------------- -->
    <section id="penjelajahan" class="penjelajahan">
      <div class="penjelajahan container">
        <div class="section-title">
          <h2>Fitur Penjelajahan</h2>
          <p style="max-width: 1200px">
            Temukan kecantikan kulit alami mu dengan fitur penjelajahan terbaru
            dalam website bodycare kami! Dengan navigasi yang intuitif,
            eksplorasi produk-produk terbaik untuk perawatan kuitmu menjadi
            lebih menyenangkan. Dari produk body wash hingga body scrub untuk
            mendapatkan kulit sehat dan berseri dengan bantuan fitur
            penjelajahan.
          </p>
        </div>

        <div class="row">
          <!-- <div class="col-lg-4" data-aos="fade-right">
            <img src="assets/img/me.png" class="img-fluid" alt="" />
          </div> -->
          <div class="col-lg-12 pt-2 pt-lg-0 content" data-aos="fade-left">
            <!-- <h3>Data Analyst &amp; Web Developer</h3> -->
            <div class="row pt-3">
              <div class="col-sm-2 d-flex align-item-center">
                <h2>Pilih Merek</h2>
              </div>
              <div class="col-md-10">
                <div class="dropdown">
                  <button
                    class="btn"
                    type="button"
                    id="dropdownMenuButton1"
                    data-bs-toggle="dropdown"
                    aria-expanded="false"
                  >
                    <h6 id="selectedMerek">Pilihan Merek</h6>
                    <img src="/images/dropdown.png" alt="" />
                  </button>
                  <ul
                    class="dropdown-menu"
                    aria-labelledby="dropdownMenuButton1"
                    style="width: 500px"
                    id="merekListDropdown"
                  ></ul>
                </div>
              </div>
            </div>
            <div class="row pt-4">
              <div
                class="card card-content"
                style="
                  border-radius: 7px;
                  background: #fff;
                  box-shadow: 2px 2px 4.3px 0px rgba(0, 0, 0, 0.23) inset;
                "
              >
                <div class="row">
                  <div class="col-12 text-center judul">
                    <h2>Hasil Penjelajahan</h2>
                  </div>
                </div>
                <div
                  class="row d-flex justify-content-center"
                  id="card-container"
                >
                  <h3 class="text-center text-black fw-bold">
                    Silahkan Pilih Merek Terlebih Dahulu
                  </h3>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <!-- pop up detail penjelajahan -->
    <div
      class="modal fade"
      data-backdrop="false"
      id="modal-skincare"
      tabindex="-1"
      aria-labelledby="exampleModalLabel"
      aria-hidden="true"
    >
      <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title text-black" id=""></h5>
            <button
              type="button"
              class="btn-close"
              data-bs-dismiss="modal"
              aria-label="Close"
            ></button>
          </div>
          <div class="modal-body">
            <div class="row">
              <div class="col-md-12 p-1 d-flex justify-content-center">
                <img
                  src="/images/2744266.jpg"
                  alt="gambar hewan"
                  class="gambar-detail"
                  width="70%"
                />
              </div>
            </div>
            <div class="row">
              <h5
                class="card-title text-black text-center fw-bold"
                id="merek"
              ></h5>
              <h6
                class="text-center fw-bold"
                style="color: red"
                id="harga"
              ></h6>
              <p class="card-text" id="manfaat" style="color: black"></p>
              <h6 class="text-black" id="usia"></h6>
              <p class="card-text" id="deskripsi" style="color: black"></p>
              <p class="card-text" id="masalah" style="color: black"></p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- ---------------------------------- -->
    <!--         Penjelajahan End           -->
    <!-- ---------------------------------- -->

    <!-- ---------------------------------- -->
    <!--          Pencarian Start           -->
    <!-- ---------------------------------- -->
    <section id="pencarian" class="pencarian">
      <div class="Pencarian container">
        <div class="section-title">
          <h2>Pencarian</h2>
          <p>
            Temukan keindahan kulitmu dengan fitur pencarian canggih dalam
            website perawatan kulit kami! Dengan algoritma yang baik, menemukan
            produk bodycare yang sesuai dengan kebutuhan kulitmu. Dari body wash
            hingga body scrub yang dapat membuat kulitmu menjadi sehat dan
            bersinar. Ayo mulai perjalanan kecantikan kulitmu sekarang dengan
            fitur pencarian terbaik di website bodycare kami!
          </p>
        </div>

        <div class="row">
          <div class="col-lg-12 pt-4 pt-lg-0 content" data-aos="fade-left">
            <div class="row pt-3">
              <div
                class="col-sm-3 d-flex align-item-center"
                style="width: 285px"
              >
                <h2>Jenis Bodycare :</h2>
              </div>
              <div class="pil jenis col-md-3">
                <div class="dropdown">
                  <button
                    class="btn"
                    type="button"
                    id="dropdownMenuButton1"
                    data-bs-toggle="dropdown"
                    aria-expanded="false"
                  >
                    <h6>Jenis Bodycare</h6>
                    <img src="/images/dropdown.png" alt="" />
                  </button>
                  <ul
                    class="dropdown-menu"
                    aria-labelledby="dropdownMenuButton1"
                    style="width: 300px"
                  >
                    <li>
                      <a class="dropdown-item" value="Body Lotion"
                        >Body Lotion</a
                      >
                    </li>
                    <li>
                      <a class="dropdown-item" value="Body Scrub">Body Scrub</a>
                    </li>
                    <li>
                      <a class="dropdown-item" value="Body Wash">Body Wash</a>
                    </li>
                  </ul>
                </div>
              </div>
              <div
                class="col-sm-3 d-flex align-item-center"
                style="width: 250px"
              >
                <h2>Pilih Merek :</h2>
              </div>
              <div class="pil merek col-md-3">
                <div class="dropdown">
                  <button
                    class="btn"
                    type="button"
                    id="dropdownMenuButton1"
                    data-bs-toggle="dropdown"
                    aria-expanded="false"
                  >
                    <h6>Pilih Merek</h6>
                    <img src="/images/dropdown.png" alt="" />
                  </button>
                  <ul
                    class="dropdown-menu"
                    aria-labelledby="dropdownMenuButton1"
                    style="width: 300px"
                  >
                    <li>
                      <a class="dropdown-item" value="Bali Alus">Bali Alus</a>
                    </li>
                    <li>
                      <a class="dropdown-item" value="Bali Ratih">Bali Ratih</a>
                    </li>
                    <li>
                      <a class="dropdown-item" value="Erha">Erha</a>
                    </li>
                    <li>
                      <a class="dropdown-item" value="Grace and Glow"
                        >Grace and Glow</a
                      >
                    </li>
                    <li>
                      <a class="dropdown-item" value="Herborist">Herborist</a>
                    </li>
                    <li>
                      <a class="dropdown-item" value="Marina">Marina</a>
                    </li>
                    <li>
                      <a class="dropdown-item" value="Scarlett Whitening"
                        >Scarlett Whitening</a
                      >
                    </li>
                    <li>
                      <a class="dropdown-item" value="Sensatia Botanicals"
                        >Sensatia Botanicals</a
                      >
                    </li>
                  </ul>
                </div>
              </div>
            </div>
            <div class="pil masalah row pt-3">
              <div
                class="col-sm-3 d-flex align-item-center"
                style="width: 285px"
              >
                <h2>Masalah Kulit :</h2>
              </div>
              <div class="col-md-3">
                <div class="dropdown">
                  <button
                    class="btn"
                    type="button"
                    id="dropdownMenuButton1"
                    data-bs-toggle="dropdown"
                    aria-expanded="false"
                  >
                    <h6>Masalah Kulit</h6>
                    <h6></h6>
                    <img src="/images/dropdown.png" alt="" />
                  </button>
                  <ul
                    class="dropdown-menu"
                    aria-labelledby="dropdownMenuButton1"
                    style="width: 300px"
                  >
                    <li>
                      <a class="dropdown-item" value="Kulit Berjerawat"
                        >Kulit Berjerawat</a
                      >
                    </li>
                    <li>
                      <a class="dropdown-item" value="Kulit Berminyak"
                        >Kulit Berminyak</a
                      >
                    </li>
                    <li>
                      <a class="dropdown-item" value="Kulit Gelap"
                        >Kulit Gelap</a
                      >
                    </li>
                    <li>
                      <a class="dropdown-item" value="Kulit Kasar"
                        >Kulit Kasar</a
                      >
                    </li>
                    <li>
                      <a class="dropdown-item" value="Kulit Kering"
                        >Kulit Kering</a
                      >
                    </li>
                    <li>
                      <a class="dropdown-item" value="Kulit Kusam"
                        >Kulit Kusam</a
                      >
                    </li>
                    <li>
                      <a class="dropdown-item" value="Kulit Sensitif"
                        >Kulit Sensitif</a
                      >
                    </li>
                    <li>
                      <a class="dropdown-item" value="Warna Kulit Tidak Merata"
                        >Warna Kulit Tidak Merata</a
                      >
                    </li>
                  </ul>
                </div>
              </div>
              <div
                class="col-sm-3 d-flex align-item-center"
                style="width: 250px"
              >
                <h2>Pilih Harga :</h2>
              </div>
              <div class="pil harga col-md-3">
                <div class="dropdown">
                  <button
                    class="btn"
                    type="button"
                    id="dropdownMenuButton1"
                    data-bs-toggle="dropdown"
                    aria-expanded="false"
                  >
                    <h6>Pilih Harga</h6>
                    <img src="/images/dropdown.png" alt="" />
                  </button>
                  <ul
                    class="dropdown-menu"
                    aria-labelledby="dropdownMenuButton1"
                    style="width: 300px"
                  >
                    <li>
                      <a class="dropdown-item" value="1000-50000"
                        >Rp1.000 - Rp50.0000</a
                      >
                    </li>
                    <li>
                      <a class="dropdown-item" value="50000-100000"
                        >Rp50.000 - Rp100.000</a
                      >
                    </li>
                    <li>
                      <a class="dropdown-item" value="100000-150000"
                        >Rp100.000 - Rp150.000</a
                      >
                    </li>
                    <li>
                      <a class="dropdown-item" value="150000-200000"
                        >Rp150.000 - Rp200.000</a
                      >
                    </li>
                    <li>
                      <a class="dropdown-item" value="200000-250000"
                        >Rp200000 - Rp250.000</a
                      >
                    </li>
                  </ul>
                </div>
              </div>
              <div class="d-flex">
                <a href="#llink-to-pencarian" style="text-decoration: none">
                  <button
                    type="button "
                    class="btn btn-primary submit-button d-flex justify-content-end m-2"
                  >
                    Cari
                  </button>
                </a>
                <button class="btn btn-danger submit-button d-flex m-2 hapus">
                  Hapus Pilihan
                </button>
              </div>
            </div>

            <div class="row pt-4">
              <div
                class="card card-content"
                style="
                  border-radius: 7px;
                  background: #fff;
                  box-shadow: 2px 2px 4.3px 0px rgba(0, 0, 0, 0.23) inset;
                "
              >
                <div class="row">
                  <div class="col-12 text-center judul">
                    <h2>Hasil Pencarian</h2>
                  </div>
                </div>
                <div
                  class="row d-flex justify-content-center"
                  id="card-pencarian"
                >
                  <h3 class="text-center text-black fw-bold">
                    Silahkan Masukkan Kategori Terlebih Dahulu
                  </h3>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- pop up detail Pencarian-->
    <div
      class="modal fade"
      data-backdrop="false"
      id="modal-pencarian"
      tabindex="-1"
      aria-labelledby="exampleModalLabel"
      aria-hidden="true"
    >
      <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title text-black" id=""></h5>
            <button
              type="button"
              class="btn-close"
              data-bs-dismiss="modal"
              aria-label="Close"
            ></button>
          </div>
          <div class="modal-body">
            <div class="row">
              <div class="col-md-12 p-1 d-flex justify-content-center">
                <img
                  src="/images/2744266.jpg"
                  alt="gambar hewan"
                  class="gambar-detail"
                  width="70%"
                />
              </div>
            </div>
            <div class="row">
              <h5
                class="card-title text-black text-center fw-bold"
                id="merekPencarian"
              ></h5>
              <h6
                class="text-center fw-bold"
                style="color: red"
                id="hargaPencarian"
              ></h6>
              <p
                class="card-text"
                id="manfaatPencarian"
                style="color: black"
              ></p>
              <h6 class="text-black" id="usiaPencarian"></h6>
              <p
                class="card-text"
                id="deskripsiPencarian"
                style="color: black"
              ></p>
              <p
                class="card-text"
                id="masalahPencarian"
                style="color: black"
              ></p>
            </div>
            <div class="row d-flex align-items-center justify-content-center">
              <div class="col">
                <nav id="navbar" class="navbar">
                  <a
                    href="#rekomendasi"
                    class="nav-link btn btn-success algoritmaRun"
                    style="background-color: rgb(219, 118, 59)"
                    >Lihat Rekomendasi Lainnya</a
                  >
                </nav>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- ---------------------------------- -->
    <!--           Pencarian End            -->
    <!-- ---------------------------------- -->

    <!-- ---------------------------------- -->
    <!--         Rekomendasi Start          -->
    <!-- ---------------------------------- -->
    <section id="rekomendasi" class="rekomendasi">
      <div class="rekomendasi container">
        <div class="section-title">
          <h2>Rekomendasi</h2>
          <p>
            Temukan keindahan kulitmu dengan fitur rekomendasi canggih dalam
            website perawatan kulit kami! Mulai dari rekomendasi body wash
            hingga body scrub yang dapat membuat kulitmu menjadi sehat dan
            bersinar. Ayo mulai perjalanan kecantikan kulitmu sekarang dengan
            fitur rekomendasi terbaik di website bodycare kami!
          </p>
        </div>

        <div class="row">
          <!-- <div class="col-lg-4" data-aos="fade-right">
            <img src="assets/img/me.png" class="img-fluid" alt="" />
          </div> -->
          <div class="col-lg-12 pt-4 pt-lg-0 content" data-aos="fade-left">
            <!-- <h3>Data Analyst &amp; Web Developer</h3> -->
            <div class="row pt-4">
              <div
                class="card card-content"
                style="
                  border-radius: 7px;
                  background: #fff;
                  box-shadow: 2px 2px 4.3px 0px rgba(0, 0, 0, 0.23) inset;
                "
              >
                <div class="row">
                  <div class="col-12 text-center judul">
                    <h2>Hasil Rekomendasi</h2>
                  </div>
                </div>
                <div
                  class="row d-flex justify-content-center"
                  id="card-rekomendasi"
                >
                  <h3 class="text-center text-black fw-bold">
                    Silahkan Lakukan Pencarian Terlebih Dahulu
                  </h3>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- pop up detail Rekomendasi-->
    <div
      class="modal fade"
      data-backdrop="false"
      id="modal-rekomendasi"
      tabindex="-1"
      aria-labelledby="exampleModalLabel"
      aria-hidden="true"
    >
      <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title text-black" id=""></h5>
            <button
              type="button"
              class="btn-close"
              data-bs-dismiss="modal"
              aria-label="Close"
            ></button>
          </div>
          <div class="modal-body">
            <div class="row">
              <div class="col-md-12 p-1 d-flex justify-content-center">
                <img
                  src="/images/2744266.jpg"
                  alt="gambar hewan"
                  class="gambar-detail"
                  width="70%"
                />
              </div>
            </div>
            <div class="row">
              <h5
                class="card-title text-black text-center fw-bold"
                id="merekRekomendasi"
              ></h5>
              <h6
                class="text-center fw-bold"
                style="color: red"
                id="hargaRekomendasi"
              ></h6>
              <p
                class="card-text"
                id="manfaatRekomendasi"
                style="color: black"
              ></p>
              <h6 class="text-black" id="usiaRekomendasi"></h6>
              <p
                class="card-text"
                id="deskripsiRekomendasi"
                style="color: black"
              ></p>
              <p
                class="card-text"
                id="masalahRekomendasi"
                style="color: black"
              ></p>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Script -->
    <script src="<%= baseUrl %>/vendor/purecounter/purecounter_vanilla.js"></script>
    <script src="<%= baseUrl %>/vendor/glightbox/js/glightbox.min.js"></script>
    <script src="<%= baseUrl %>/vendor/isotope-layout/isotope.pkgd.min.js"></script>
    <script src="<%= baseUrl %>/vendor/swiper/swiper-bundle.min.js"></script>
    <script src="<%= baseUrl %>/vendor/waypoints/noframework.waypoints.js"></script>
    <script src="<%= baseUrl %>/vendor/php-email-form/validate.js"></script>

    <script>
      (function () {
        "use strict";

        /**
         * Easy selector helper function
         */
        const select = (el, all = false) => {
          el = el.trim();
          if (all) {
            return [...document.querySelectorAll(el)];
          } else {
            return document.querySelector(el);
          }
        };

        /**
         * Easy event listener function
         */
        const on = (type, el, listener, all = false) => {
          let selectEl = select(el, all);

          if (selectEl) {
            if (all) {
              selectEl.forEach((e) => e.addEventListener(type, listener));
            } else {
              selectEl.addEventListener(type, listener);
            }
          }
        };

        /**
         * Scrolls to an element with header offset
         */
        const scrollto = (el) => {
          window.scrollTo({
            top: 0,
            behavior: "smooth",
          });
        };

        /**
         * Mobile nav toggle
         */
        on("click", ".mobile-nav-toggle", function (e) {
          select("#navbar").classList.toggle("navbar-mobile");
          this.classList.toggle("bi-list");
          this.classList.toggle("bi-x");
        });

        /**
         * Scrool with ofset on links with a class name .scrollto
         */
        on(
          "click",
          "#navbar .nav-link",
          function (e) {
            let section = select(this.hash);
            if (section) {
              e.preventDefault();

              let navbar = select("#navbar");
              let header = select("#header");
              let sections = select("section", true);
              let navlinks = select("#navbar .nav-link", true);

              navlinks.forEach((item) => {
                item.classList.remove("active");
              });

              this.classList.add("active");

              if (navbar.classList.contains("navbar-mobile")) {
                navbar.classList.remove("navbar-mobile");
                let navbarToggle = select(".mobile-nav-toggle");
                navbarToggle.classList.toggle("bi-list");
                navbarToggle.classList.toggle("bi-x");
              }

              if (this.hash == "#header") {
                header.classList.remove("header-top");
                sections.forEach((item) => {
                  item.classList.remove("section-show");
                });
                return;
              }

              if (!header.classList.contains("header-top")) {
                header.classList.add("header-top");
                setTimeout(function () {
                  sections.forEach((item) => {
                    item.classList.remove("section-show");
                  });
                  section.classList.add("section-show");
                }, 350);
              } else {
                sections.forEach((item) => {
                  item.classList.remove("section-show");
                });
                section.classList.add("section-show");
              }

              scrollto(this.hash);
            }
          },
          true
        );

        /**
         * Activate/show sections on load with hash links
         */
        // window.addEventListener("load", () => {
        //   if (window.location.hash) {
        //     let initial_nav = select(window.location.hash);

        //     if (initial_nav) {
        //       let header = select("#header");
        //       let navlinks = select("#navbar .nav-link", true);

        //       header.classList.add("header-top");

        //       navlinks.forEach((item) => {
        //         if (item.getAttribute("href") == window.location.hash) {
        //           item.classList.add("active");
        //         } else {
        //           item.classList.remove("active");
        //         }
        //       });

        //       setTimeout(function () {
        //         initial_nav.classList.add("section-show");
        //       }, 350);

        //       scrollto(window.location.hash);
        //     }
        //   }
        // });
      })();

      let merekPilih;
      // script untuk databse
      $(document).ready(function () {
        fetch(`http://localhost:3000/web/api/merek`)
          .then((respons) => respons.json())
          .then((merekList) => {
            // masukan ke dalam dropdown
            const dropdown = document.querySelector(".dropdown-menu");

            merekList.forEach((merek) => {
              const merekItem = document.createElement("li");
              merekItem.innerHTML = `<a class="dropdown-item" href="#">${merek}</a>`;
              // tambahkan event listener
              merekItem.addEventListener("click", () => {
                merekPilih = merek.replace(/ /g, "_"); // Add this line
                selectMerek(merekPilih);
              });
              dropdown.appendChild(merekItem);
            });
          })
          .catch((error) => {
            console.error("Error fetching merek list:", error);
          });
      });

      // jika user memilih merek dari drop down
      function selectMerek(merek) {
        // Hapus semua card yang ada
        const cardContainer = document.getElementById("card-container");
        while (cardContainer.firstChild) {
          cardContainer.removeChild(cardContainer.firstChild);
        }

        fetch(
          `http://localhost:3000/web/api/query-by-merek?merek=${merekPilih}`
        )
          .then((respons) => respons.json())
          .then((bodycareList) => {
            console.log("List", bodycareList[0]);
            bodycareList.forEach((bodycare, index) => {
              const card = document.createElement("div");
              card.className = "card pilihan";

              const parseharga = parseInt(bodycare.Harga.value);
              const formattedHarga = parseharga.toLocaleString("id-ID");

              card.innerHTML = `
                <img src="/images/2744266.jpg" class="card-img" />
                <div class="card-body">
                  <h3 class="merek-card text-center" >${bodycare.Merek.value}</h3>
                  <h5 class="card-title">${bodycare.namaProduk.value}</h5>
                  <h6>${bodycare.Usia.value}</h6>
                  <h6 class="harga">Rp${formattedHarga}</h6>
                  <p class="card-text" style="color: black"></p>
                  <div class="row d-flex align-items-center">
                    <div class="col">
                      <a class="btn btn-warning detail-button" data-bs-target="#modal-skincare" data-bs-toggle="modal">Lihat Detail</a>
                    </div>
                    
                  </div>
                </div>
              `;

              const button = card.querySelector(".detail-button");
              button.addEventListener("click", () => {
                $("#modal-skincare #merek").html(
                  `${bodycare.namaProduk.value}`
                );
                $("#modal-skincare #usia").html(`${bodycare.Usia.value}`);
                $("#modal-skincare #harga").html(`Rp${formattedHarga}`);
                $("#modal-skincare #deskripsi").html(
                  `<strong>Deskripsi :</strong> ${bodycare.Deskripsi.value}`
                );
                $("#modal-skincare #manfaat").html(`${bodycare.Manfaat.value}`);
                $("#modal-skincare #masalah").html(
                  `<strong>Masalah Kulit :</strong> ${bodycare.Masalah_Kulit.value}`
                );
              });

              cardContainer.appendChild(card);
            });
          })
          .catch((error) => {
            console.error("Error fetching bodycare list:", error);
          });
      }

      //    <!-- ---------------------------------- -->
      //    <!--          Pencarian Start           -->
      //    <!-- ---------------------------------- -->
      document.addEventListener("DOMContentLoaded", (event) => {
        const dropdowns = document.querySelectorAll(".dropdown");
        const hapusButton = document.querySelector(".hapus");

        var queryFilters = "";

        dropdowns.forEach((dropdown) => {
          const button = dropdown.querySelector("button");
          const items = dropdown.querySelectorAll(".dropdown-item");

          items.forEach((item) => {
            item.addEventListener("click", function (event) {
              event.preventDefault();

              // Hapus class 'active' dari item yang sebelumnya aktif
              const previousActiveItem = dropdown.querySelector(
                ".dropdown-item.active"
              );
              if (previousActiveItem) {
                previousActiveItem.classList.remove("active");
              }

              // Tambahkan class 'active' ke item yang dipilih dan ubah teks tombol
              this.classList.add("active");
              button.querySelector("h6").textContent = this.textContent;
            });
          });
        });

        // Tambahkan event listener ke tombol hapus
        hapusButton.addEventListener("click", function (event) {
          event.preventDefault();

          // Hapus class 'active' dari semua item dropdown
          dropdowns.forEach((dropdown) => {
            const activeItem = dropdown.querySelector(".dropdown-item.active");
            if (activeItem) {
              activeItem.classList.remove("active");
            }

            // Set ulang teks tombol dropdown
            const button = dropdown.querySelector("button");
            button.querySelector("h6").textContent = "";
          });

          queryFilters = "";
        });
      });

      //isiin randome value
      function createSequentialGetter(dataList) {
        let currentIndex = 0;

        return function getNextSequential() {
          const nextValue = dataList[currentIndex];
          currentIndex = (currentIndex + 1) % dataList.length;
          return nextValue;
        };
      }
      const dataList = [
        "0.6",
        "0.3",
        "0.0",
        "0.7",
        "0.4",
        "0.8",
        "0.9",
        "0.5",
        "0.1",
        "0.2",
        "0.0",
        "0.7",
        "0.3",
        "0.4",
        "0.8",
        "0.5",
        "0.1",
        "0.2",
        "0.9",
        "0.6",
      ];
      const getNextValue = createSequentialGetter(dataList);
      const Value = getNextValue;

      let namaProduk = null;
      document.addEventListener("DOMContentLoaded", (event) => {
        const submitButton = document.querySelector(".submit-button");

        submitButton.addEventListener("click", function (event) {
          event.preventDefault();

          // ambil nilai dari dropdown
          var selectedJenis = document
            .querySelector(".pil.jenis .dropdown-item.active")
            ?.getAttribute("value");
          var selectedMerek = document
            .querySelector(".pil.merek .dropdown-item.active")
            ?.getAttribute("value");
          var selectedMasalah = document
            .querySelector(".pil.masalah .dropdown-item.active")
            ?.getAttribute("value");
          var selectedHarga = document
            .querySelector(".pil.harga .dropdown-item.active")
            ?.getAttribute("value");

          // buat string query berdasarkan apa yang dipilih pengguna
          var queryFilters = "";
          if (selectedJenis) {
            const formattedJenis = selectedJenis.replace(/ /g, "_");
            queryFilters += `FILTER(?Jenis_Bodycare = :${formattedJenis})`;
          }
          if (selectedMerek) {
            const formattedMerek = selectedMerek.replace(/ /g, "_");
            queryFilters += `FILTER(?Merek_Bodycare = :${formattedMerek})`;
          }
          if (selectedMasalah) {
            const formattedMasalah = selectedMasalah.replace(/ /g, "_");
            queryFilters += `FILTER(?Masalah_Kulit = :${formattedMasalah})`;
          }
          if (selectedHarga) {
            const formattedHarga = selectedHarga.replace(/ /g, "_");
            queryFilters += `FILTER(?Harga = :${formattedHarga})`;
          }

          console.log("Jenis : ", selectedJenis);
          console.log("Merek : ", selectedMerek);
          console.log("Masalah : ", selectedMasalah);
          console.log("Harga : ", selectedHarga);

          fetch(
            `http://localhost:3000/web/pencarian?queryFilters=${encodeURIComponent(
              queryFilters
            )}`,
            {
              method: "GET",
            }
          )
            .then((response) => response.json())
            .then((data) => {
              console.log("Data: ", typeof data);

              const cardsContainer = document.getElementById("card-pencarian");
              cardsContainer.innerHTML = "";

              // Jika tidak ada data, tampilkan pesan
              if (data.length === 0) {
                cardsContainer.innerHTML =
                  '<h3 class="text-center text-black fw-bold">Tidak terdapat produk sesuai kategori yang dipilih</h3>';
                return;
              }

              // buat kedalam card
              data.forEach((bodycare) => {
                console.log("Bodycare: ", bodycare);

                const card = document.createElement("div");
                card.className = "card pilihan";

                const parseharga = parseInt(bodycare.ProdukHarga.value);
                const formattedHarga = parseharga.toLocaleString("id-ID");

                card.innerHTML = `
                <img src="/images/2744266.jpg" class="card-img" />
                <div class="card-body">
                  <h3 class="merek-card text-center" >${bodycare.MerekBodycare.value}</h3>
                  <h5 class="card-title">${bodycare.NamaProduk.value}</h5>
                  <h6>${bodycare.Usia.value}</h6>
                  <h6 class="harga">Rp${formattedHarga}</h6>
                  <p class="card-text" style="color: black"></p>
                  <div class="row d-flex align-items-center">
                    <div class="col">
                      <a class="btn btn-warning detail-button" data-bs-target="#modal-pencarian" data-bs-toggle="modal">Lihat Detail</a>
                    </div>
                    
                  </div>
                </div>
              `;

                const button = card.querySelector(".detail-button");
                button.addEventListener("click", () => {
                  $("#modal-pencarian #merekPencarian").html(
                    `${bodycare.NamaProduk.value}`
                  );
                  $("#modal-pencarian #usiaPencarian").html(
                    `${bodycare.Usia.value}`
                  );
                  $("#modal-pencarian #hargaPencarian").html(
                    `Rp${formattedHarga}`
                  );
                  $("#modal-pencarian #deskripsiPencarian").html(
                    `<strong>Deskripsi :</strong> ${bodycare.Deskripsi.value}`
                  );
                  $("#modal-pencarian #manfaatPencarian").html(
                    `${bodycare.Manfaat.value}`
                  );
                  $("#modal-pencarian #masalahPencarian").html(
                    `<strong>Masalah Kulit :</strong> ${bodycare.MasalahKulit.value}`
                  );

                  namaProduk = bodycare.NamaProduk.value;
                });

                // Tambahkan kartu ke container
                cardsContainer.appendChild(card);
              });
            });
        });

        // Kirim nama Produk Ke server
        const buttonAlgoritma = document.querySelector(".algoritmaRun");
        const rekomendasiSection = document.querySelector("#rekomendasi");
        buttonAlgoritma.addEventListener("click", () => {
          if (namaProduk) {
            console.log("Produk :", namaProduk);

            fetch(
              `http://localhost:3000/web/dataTransaksi?namaProduk=${encodeURIComponent(
                namaProduk
              )}`
            )
              .then((response) => response.json())
              .then((dataTrasaksi) => {
                console.log("Data Rekomendasi", dataTrasaksi);
                const productIds = dataTrasaksi.map((item) => item.id_produk);

                // Mendapatkan array distinct
                const distinctProductIds = productIds.filter(
                  (value, index, self) => self.indexOf(value) === index
                );

                // buat hasilnya dalam bentuk string
                const id_target = distinctProductIds.join(",");
                console.log("Distinct ID Product", id_target);

                // algoritma collaborative Filtering Start
                fetch(`http://localhost:3000/web/dataAlgoritma`)
                  .then((response) => response.json())
                  .then((dataAlgoritma) => {
                    const formattedData = dataAlgoritma.map((item) => ({
                      user_id: item.id_pelanggan,
                      produk_id: item.id_produk,
                      rating: item.rating,
                    }));

                    //========================================//
                    // Algoritma Colaborative Filtering Start //
                    //========================================//

                    // Fungsi untuk menghitung kesamaan kosinus antara dua vektor
                    function cosineSimilarity(vectorA, vectorB) {
                      const dotProduct = vectorA.reduce(
                        (acc, val, i) => acc + val * vectorB[i],
                        0
                      );
                      const magnitudeA = Math.sqrt(
                        vectorA.reduce((acc, val) => acc + val * val, 0)
                      );
                      const magnitudeB = Math.sqrt(
                        vectorB.reduce((acc, val) => acc + val * val, 0)
                      );

                      if (magnitudeA === 0 || magnitudeB === 0) {
                        return 0; // Handle division by zero
                      }

                      return dotProduct / (magnitudeA * magnitudeB);
                    }

                    // fungsi membuat matriks item
                    function createItemMatrix(formattedData) {
                      const itemMatrix = {};

                      for (const entry of formattedData) {
                        if (!itemMatrix[entry.produk_id]) {
                          itemMatrix[entry.produk_id] = {};
                        }
                        itemMatrix[entry.produk_id][entry.user_id] =
                          entry.rating;
                      }

                      return itemMatrix;
                    }

                    // Fungsi untuk mendapatkan rekomendasi berdasarkan item
                    function getItemRecommendations(
                      itemMatrix,
                      targetProduk,
                      targetPelanggan
                    ) {
                      if (!itemMatrix[targetProduk]) {
                        throw new Error(
                          `Produk with ID ${targetProduk} not found in itemMatrix`
                        );
                      }

                      const targetVector = Object.values(
                        itemMatrix[targetProduk]
                      );

                      const recommendations = Object.keys(itemMatrix)
                        .filter((produkId) => produkId !== targetProduk)
                        .map((produkId) => ({
                          produkId,
                          similarity: cosineSimilarity(
                            targetVector,
                            Object.values(itemMatrix[produkId])
                          ),
                        }))
                        .sort((a, b) => b.similarity - a.similarity); // Urutkan berdasarkan similarity tertinggi

                      return recommendations;
                    }

                    // Fungsi untuk menghitung prediksi rating untuk item tertentu oleh pengguna tertentu
                    function predictRatingForUserAndItem(itemMatrix, targetProduk, targetPelanggan) {
                        const targetVector = Object.values(itemMatrix[targetProduk]);
                        const similarities = {};
                        const weightedSum = {};
                        const sumOfWeights = {};

                        // Iterasi melalui semua item kecuali item target
                        for (const produk_id in itemMatrix) {
                            if (produk_id !== targetProduk) {
                                const similarity = cosineSimilarity(targetVector, Object.values(itemMatrix[produk_id]));
                                similarities[produk_id] = similarity;

                                // Jika similarity antara item tidak nol, hitung prediksi rating
                                if (similarity !== 0) {
                                    const rating = itemMatrix[produk_id][targetPelanggan] || 0; // Rating pengguna pada item, atau 0 jika tidak ada
                                    weightedSum[produk_id] = (weightedSum[produk_id] || 0) + similarity * (rating - averageRating(produk_id));
                                    sumOfWeights[produk_id] = (sumOfWeights[produk_id] || 0) + Math.abs(similarity);
                                }
                            }
                        }

                        const predictions = {};

                        // Hitung prediksi rating untuk item tertentu oleh pengguna tertentu
                        for (const produk_id in weightedSum) {
                            const prediction = Math.max(0, averageRating(produk_id) + (weightedSum[produk_id] / sumOfWeights[produk_id]));
                            predictions[produk_id] = prediction;
                        }

                        return predictions;
                    }

                    // Fungsi untuk menghitung rata-rata rating untuk sebuah item
                    function averageRating(produk_id) {
                        const ratings = Object.values(itemMatrix[produk_id]);
                        if (ratings.length === 0) {
                            return 0;
                        }
                        const summ = ratings.reduce((acc, rating) => acc + rating, 0);
                        const sum = (summ / ratings.length) - parseFloat(Value());
                        return sum;
                    }

                    // Fungsi untuk menghitung MAE untuk setiap product
                    function calculateMAE(predictions, actual) {
                      let totalError = 0;
                      let count = 0;

                      for (let produk_id in predictions) {
                        //   console.log(predictions);
                        //   console.log(totalError);
                        if (actual[produk_id] !== undefined) {
                          totalError += Math.abs(predictions[produk_id] - actual[produk_id]);
                          count++;
                        }
                        // console.log("ini prediksi di dalam MAE ", predictions[produk_id])
                      }

                      return count > 0 ? totalError / count : 0;
                    }

                    //target user rating
                    function getAverageRatingByUser(data, targetPelanggan) {
                        const userMap = new Map();

                        for (const item of data) {
                            if (item.user_id === targetPelanggan) {
                                if (!userMap.has(item.produk_id)) {
                                    userMap.set(item.produk_id, []);
                                }
                                userMap.get(item.produk_id).push(item.rating);
                            }
                        }

                        // Menghitung rata-rata rating untuk setiap produk_id
                        const result = {};
                        for (const [produk_id, ratings] of userMap.entries()) {
                            const totalRating = ratings.reduce((acc, curr) => acc + curr, 0);
                            const averageRating = totalRating / ratings.length;
                            result[produk_id] = averageRating;
                        }

                        return result;
                    }

                    // jalankan algoritma
                    const itemMatrix = createItemMatrix(formattedData);
                    const targetProduk = id_target; // Sesuaikan dengan ID yang sesuai pada data
                    const targetPelanggan = 2; // Sesuaikan dengan ID user yang sesuai
                    const recommendations = getItemRecommendations(
                      itemMatrix,
                      targetProduk,
                      targetPelanggan
                    );

                    console.log("Nilai rekomendasi : ", recommendations);
                    console.log("data : ", formattedData);

                    // Rating pengguna untuk item tertentu
                    const targetPelangganRatings = getAverageRatingByUser(formattedData, targetPelanggan); 
                    console.log("Rating pengguna untuk item tertentu:", targetPelangganRatings);

                    // Prediksi rating pengguna untuk item tertentu
                    const predictions = predictRatingForUserAndItem(itemMatrix, targetProduk, targetPelanggan);
                    console.log("Prediksi rating pengguna untuk item tertentu: ", predictions);

                    // Hitung MAE untuk setiap product
                    const maePerProduct = {};
                    for (let produk_id in predictions) {
                      const mae = calculateMAE({ [produk_id]: predictions[produk_id] }, targetPelangganRatings);
                      maePerProduct[produk_id] = mae;
                    }

                    // Menampilkan hasil MAE untuk setiap product
                    console.log("Mean Absolute Error (MAE) untuk setiap product:", maePerProduct);

                    // ambil 10 produk paling atas aja sebagai rekomendasi
                    // const hasilCollaborative = recommendations
                    //   .map((recommendation) => recommendation.produkId)
                    //   .slice(0, 10);

                    const hasilCollaborative = recommendations
                      .sort((a, b) => b.similarity - a.similarity) // Urutkan berdasarkan similarity tertinggi
                      .map((recommendation) => recommendation.produkId) // Ambil produkId
                      .slice(0, 10); // Ambil 10 teratas

                    const hasilCollaborativeSemua = recommendations.map(
                      (recommendation) => recommendation.produkId
                    );

                    console.log(
                      "Hasil Collaborative Filtering Keseluruhan: ",
                      hasilCollaborative
                    );

                    // tampilkan data hasil rekomendasi
                    fetch("http://localhost:3000/web/dataHasilAlgoritma", {
                      method: "POST",
                      headers: {
                        "Content-Type": "application/json",
                      },
                      body: JSON.stringify({
                        produkHasilId: hasilCollaborative,
                      }),
                    })
                      .then((response) => response.json())
                      .then((produkData) => {
                        console.log("HAsil: ", produkData);

                        const cardsContainer =
                          document.getElementById("card-rekomendasi");
                        cardsContainer.innerHTML = "";

                        // buat kedalam card
                        produkData.forEach((bodycare) => {
                          console.log("Bodycare: ", bodycare);

                          const card = document.createElement("div");
                          card.className = "card pilihan";

                          const rating = bodycare.rating;
                          const formattedRating = parseFloat(rating).toFixed(1);

                          card.innerHTML = `
                          <img src="/images/2744266.jpg" class="card-img" />
                          <div class="card-body">
                            <h3 class="merek-card text-center" >${bodycare.merk}</h3>
                            <h5 class="card-title">${bodycare.nama_produk}</h5>
                            <h6>${bodycare.usia}</h6>
                            <h6 class="harga">${bodycare.harga}</h6>
                            <p class="card-text" style="color: black"></p>
                            <div class="row d-flex align-items-center">
                              <div class="col">
                                <a class="btn btn-warning detail-button" data-bs-target="#modal-rekomendasi" data-bs-toggle="modal">Lihat Detail</a>
                              </div>
                              <div class="col d-flex justify-content-end fw-bold" style="margin-right: 3%">
                                <img src="/images/icons8-star-48.png" style="width: 20%" class="d-inline-block align-item-center me-1" />
                                <h5>${formattedRating}</h5>
                              </div>
                            </div>
                          </div>
                        `;

                          const button = card.querySelector(".detail-button");
                          button.addEventListener("click", () => {
                            $("#modal-rekomendasi #merekRekomendasi").html(
                              `${bodycare.nama_produk}`
                            );
                            $("#modal-rekomendasi #usiaRekomendasi").html(
                              `${bodycare.usia}`
                            );
                            $("#modal-rekomendasi #hargaRekomendasi").html(
                              `${bodycare.harga}`
                            );
                            $("#modal-rekomendasi #deskripsiRekomendasi").html(
                              `<strong>Deskripsi :</strong> ${bodycare.deskripsi_produk}`
                            );
                            $("#modal-rekomendasi #manfaatRekomendasi").html(
                              `${bodycare.manfaat_produk}`
                            );
                            $("#modal-rekomendasi #masalahRekomendasi").html(
                              `<strong>Masalah Kulit :</strong> ${bodycare.masalah_kulit}`
                            );
                          });

                          // Tambahkan kartu ke container
                          cardsContainer.appendChild(card);

                          $("#modal-pencarian").modal("hide");
                        });
                      });
                  })
                  .catch((error) => {
                    console.error("Error", error);
                  });
              });
          }
        });
      });
    </script>
  </body>
</html>
